@import '../node_modules/swiper/swiper.min.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main{
  display: flex;
  flex-direction: column;
  background-color: #0a002c;
  padding: 0 0 0 65px;
  align-items: center;
  width: 100vw;
  height: fit-content;
}

.linkGithub:hover, .linkVercel:hover, .About:hover, .Contact:hover, .Home:hover, .Resume:hover, .Projects:hover{
  transform: scale(1.1);
  transition: 0.6s ease-out;
}

.linkGithub:hover{
  content: url('/Github/githubhover.png');
}

.linkVercel:hover{
  content: url('/Vercel/livehover.png');
}

.About:hover{
  content: url('/Icons/Abouthover.svg');
}

.Resume:hover{
  content: url('/Icons/Resumehover.svg');
}

.Contact:hover{
  content: url('/Icons/Contacthover.svg');
}

.Projects:hover{
  content: url('/Icons/Projectshover.svg');
}

.Home:hover{
  content: url('/Icons/Homehover.svg');
}

.techLogo:hover{
  transform: scale(1.2);
  transition: all 0.5s;
}

.sheesh{
  animation: scroll 30s linear infinite;
}

.sheesh:hover{
  animation-play-state: paused;
}

.swiper-button-next, .swiper-button-prev{ 
  color: #9D95DC !important;
}

.swiper-pagination-bullet-active{
  background-color: #9D95DC !important;
}

.mySwiper{
  width:100%;
  height:90vh;
  max-height: 600px;
  padding-bottom: 100px;
  color:white
}

#input:focus{
  border: 4px solid #B23C87;
  outline: none;
}

@keyframes scroll {
  0%{
    transform: translate(0);
  }
  100%{
    transform: translateX(calc(-95px * 20));
  }
  
}

@media (max-width:1000px){
  .hero{
    flex-direction: column-reverse !important;
    margin:0;
    padding:100px 0 0 0;
    justify-content: flex-start;
    align-items: center;
  }

  .heroCont{
    max-width: 60%;
    min-width: 300px;
    margin: 0 !important;
    padding: 10px 10px 10px 20px !important;
  }

  .heroCont:first-child{
    max-width: 90%;
    min-width: 90%;
  }

  #About, #Home, #Projects{
    padding: 30px !important;
  }

  .mainContainer{
    padding:50px !important
  }
}

@media (max-width:750px){
  .aboutmeimage{
    margin: 0px 0px 30px 0 !important;
    min-width: 100% !important
  }

  .mainContainer{
    padding:0px !important
  }

}
