* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main{
  display: flex;
  flex-direction: column;
  background-color: #0a002c;
  padding: 0 0 0 70px;
  align-items: center;
  width: 100vw;
  height: fit-content;
}

.headerLinks{
  cursor: pointer;
}

.headerLinks:hover{
  background: radial-gradient(circle, rgba(10,0,44,1) 30%, rgba(40,40,77,1) 85%);
}

.headerLinks:focus{
  background: radial-gradient(circle, rgba(10,0,44,1) 30%, rgba(40,40,77,1) 85%);
}

/* div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
} */

/* div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
} */

.techLogo:hover{
  transform: scale(1.2);
  transition: all 0.5s;
}

.sheesh{
  animation: scroll 30s linear infinite;
}

.sheesh:hover{
  animation-play-state: paused;
}

@keyframes scroll {
  0%{
    transform: translate(0);
  }
  100%{
    transform: translateX(calc(-95px * 20));
  }
  
}

@media (max-width:900px){
  .hero{
    flex-direction: column-reverse !important;
    margin:0;
    padding:100px 0 0 0;
    justify-content: flex-start;
    align-items: center;
  }

  .heroCont{
    max-width: 60%;
    min-width: 300px;
    margin: 0 !important;
    padding: 10px 10px 10px 20px !important;
  }

  .heroCont:first-child{
    max-width: 90%;
    min-width: 90%;
  }

  .aboutme{
    padding: 30px !important;
  }
}

@media (max-width:750px){
  .aboutmeimage{
    margin: 0px 0px 30px 0 !important;
    min-width: 100% !important
  }

}
