@import '../node_modules/swiper/swiper.min.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main{
  background-color: #0a002c;
  padding: 0 0 0 60px;
  width: 100vw;
  height: fit-content;
}

.linkGithub:hover, .linkVercel:hover, .About:hover, .Contact:hover, .Home:hover, .Resume:hover, .Projects:hover{
  transform: scale(1.1);
  transition: 0.6s ease-out;
}

.linkGithub:hover{
  content: url('/Github/githubhover.png');
}

#projectMain{
  height: 100vh;
  overflow: auto
}

.linkVercel:hover{
  content: url('/Vercel/livehover.png');
}

.About:hover{
  content: url('/Icons/Abouthover.svg');
}

.Resume:hover{
  content: url('/Icons/Resumehover.svg');
}

.Contact:hover{
  content: url('/Icons/Contacthover.svg');
}

.Projects:hover{
  content: url('/Icons/Projectshover.svg');
}

.Home:hover{
  content: url('/Icons/Homehover.svg');
}

.techLogo:hover{
  transform: scale(1.2);
  transition: all 0.5s;
}

.sheesh{
  animation: scroll 40s linear infinite;
}

.sheesh:hover{
  animation-play-state: paused;
}

.swiper-button-next, .swiper-button-prev{ 
  color: #9D95DC !important;
}

.swiper-pagination-bullet-active{
  background-color: #9D95DC !important;
}

.mySwiper{
  width:100%;
  height:90vh;
  max-height: 600px;
  padding-bottom: 100px;
  color:white
}

#input:focus{
  border: 2px solid #9D95DC;
  outline: none;
}

#homevaluesstrongtext{
  transition: all 0.3s;
}

#homevaluesstrongtext:hover{
  color:#9D95DC !important;
}

#splashscreen{
  animation: splashscreendissapear 1s ease-in-out;
  animation-delay: 4s;
}

#openingmain{
  animation: mainnoscroll 10s ease-in-out;
}

@keyframes scroll {
  0%{
    transform: translate(0);
  }
  100%{
    transform: translateX(calc(-95px * 38));
  }
  
}

@keyframes splashscreendissapear {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
  
}

@keyframes mainnoscroll {
  0%{
    height: 100vh;
  }
  100%{
    height: fit-content !important;
  }
  
}



@media (max-width:1000px){
  .hero{
    flex-direction: column-reverse !important;
    margin:0;
    padding:100px 0 0 0;
    justify-content: flex-start;
    align-items: center;
  }

  .heroCont{
    max-width: 60%;
    min-width: 300px;
    margin: 0 !important;
    padding: 10px 10px 10px 20px !important;
  }

  .heroCont:first-child{
    max-width: 90%;
    min-width: 90%;
  }

  #About, #Home {
    padding: 30px !important;
  }

  #Projects, #ProjectPage{
    padding: 150px 30px 30px 30px !important;
  }

  #Contact{
    padding: 30px 30px 100px 30px
  }

  .mainContainer{
    padding:50px !important
  }
}

@media (max-width:750px){
  .aboutmeimage{
    margin: 0px 0px 30px 0 !important;
    min-width: 100% !important
  }

  .mainContainer{
    padding:0px !important
  }

  .projectcard{
    flex-direction: column !important
  }

  .projectcard.right{
    flex-direction: column-reverse !important
  }

  .projectcardbox{
    width: 100% !important;
  }

  .projectcardimage{
    width: 110% !important;
    margin: 0 !important;
  }

  .heroCont{
    min-width: 100% !important;
    max-width: 100% !important;
    padding: 0px 0px 20px 0px !important
  }

  #Home, #Projects, #About{
    padding: 30px 30px 130px 30px !important;
  }

  #keyfeature{
    flex-direction: column;
  }

  #keyfeature div{
    width: 100%;
  }

  #keyfeature div:first-child{
    margin:0 0 25px 0
  }

  #keyfeature div:nth-child(2), #keyfeature div:nth-child(2) p:last-child {
    padding:0
  }

}
